/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-font-size:1.2em;
    -fx-font-family:"Helvetica, Arial, sans-serif";
}

/*not .scrollpane but .scroll-pane*/
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


